{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card-body shadow-dark-lg" style="border-radius: 6px;">
                <h2>Inscription</h2>

                        {{ form(form) }}
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}
