<!-- Card -->
<div class="card mb-10 mb-lg-0 shadow-light-lg lift lift-lg mt-3" style="width: 373px">

    <!-- Image -->
    <a class="card-img-top" href="{{ path("video", {"slug" : video.slug } )}}">

        <!-- Image -->
        <img src="./uploads/{{ video.image }}" alt="..." class="card-img-top" sizes=px height="204px">

    </a>

    <!-- Body -->
    <a class="card-body shadow-dark" style="border-radius: 6px" href="#!">

        <!-- Heading -->
        <h3>
            {{video.title}}
        </h3>

        <!-- Text -->
        <p class="mb-0 text-muted">
            {{ video.description }}
        </p>

    </a>

</div>