{% extends 'base.html.twig' %}

{% block title %}Podcast{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

    <section data-jarallax="" data-speed=".8" class="pt-10 pb-11 py-md-14 overlay overlay-60 jarallax" style="background-image: none;" data-jarallax-original-styles="background-image: url(assets/img/shapes/waves/MvWave.svg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-left">

                    <!-- Heading -->
                    <h1 class="display-2 text-white font-weight-bold mb-10">Nos podcast</h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
        <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;">
            <div  style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url('assets/img/shapes/waves/MvWave.svg'); position: absolute; top: 0px; left: 0px; width: 100%; height: 55%; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 0px; transform: translate3d(0px, -7px, 0px);">
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 d-flex">

                    <!-- Card -->
                    <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" style="width: 373px">

                        <!-- Image -->
                        <a class="card-img-top" href="#!">

                            <!-- Image -->
                            <img src="assets/img/photos/photo-15.jpg" alt="..." class="card-img-top">

                        </a>

                        <!-- Body -->
                        <a class="card-body shadow-dark" style="border-radius: 6px" href="#!">

                            <!-- Heading -->
                            <h3>
                                Titre du podcast
                            </h3>

                            <!-- Text -->
                            <p class="mb-0 text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim.
                            </p>

                        </a>

                    </div>

                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

{% endblock %}

